{% extends "layouts/base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h1 class="text-center mb-4">🔐 Connexion</h1>

<form method="post" class="card p-4 shadow mx-auto" style="max-width: 400px;">
  {% csrf_token %}
  {% if form.errors %}
    <div class="alert alert-danger">Nom d'utilisateur ou mot de passe invalide.</div>
  {% endif %}

  <div class="mb-3">
    <label for="id_username" class="form-label">Email</label>
    <input type="email" name="username" class="form-control" required id="id_username">
  </div>

  <div class="mb-3">
    <label for="id_password" class="form-label">Mot de passe</label>
    <input type="password" name="password" class="form-control" required id="id_password">
  </div>

  <button type="submit" class="btn btn-primary w-100">Se connecter</button>
</form>
{% endblock %}
