{% extends "layouts/base.html" %}{% block title %}Plantes{% endblock %}
{% block content %}
{% if request.user.is_authenticated and request.user.admin %}
<div class="mb-3 mt-4">
	<a href="{% url 'admin_plants_new' %}" class="btn btn-success">Nouvelle Plante</a>
</div>

{% endif %}
<div class="row mt-4">
	{% for plant in plants %}
	<div class="col-md-4">
		<div class="card mb-4 shadow-sm">
			<div class="card-body">
				<h5 class="card-title">
					<a href="{% url 'plant_show' plant.id %}" class="text-decoration-none text-dark">{{ plant.name }}</a>
				</h5>
				<p class="card-text">
					<strong>Prix :</strong> {{ plant.price }} €<br>
					{% if user.admin %}
					<strong>Stock :</strong> {{ plant.stock }} unités
					{% endif %}
				</p>
				<button class="btn btn-success w-100"
        onclick="Cart.add({{ plant.id }}, '{{ plant.name|escapejs }}', {{ plant.price }}, {{ plant.stock }})">
					Ajouter au panier
				</button>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
